html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: middle;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Lato', sans-serif;
  /* font-family: 'Libre Baskerville', serif; */
}
a {
  text-decoration: none;
  color: #000;
}
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,td {
  text-align:center;
  padding: 10px 5px;
    font-size: 16px;
    text-transform: capitalize;
}

.non-active {
  opacity: 0.9;
  pointer-events: none;
}

.active {
  opacity: 1;
  pointer-events: visible;
}

ul.menu {
  display: flex;
  gap: 30px;
}

.user {
  display: flex;
  align-items: center;
  gap: 25px;
}

.product img {
  width: 100%;
}

.banner-box img {
  width: 100%;
  height: 768px;
  object-fit: cover;
}

.container-fluid {
  max-width: 90%;
  margin: 0 auto;
}

.product .card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product img {
  width: 100px;
}
.title {
  font-size: 34px;
  font-weight: 700;
  position: relative;
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 50px;
  text-transform: capitalize;
}
.title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 50px;
  height: 2px;
  background: #000;
}
/* ----common css----- */
.padding-80 {
  padding:80px 15px;
}
button {
  background:#31485e;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}
select, input, textarea{
  width: 100%;
  border: 2px solid #000;
  border-radius: 4px;
  padding: 10px;
  font-size: 18px;
}
input::placeholder {
  color: #000;
}
.form-label {
  font-size: 17px;
  text-transform: capitalize;
  font-weight: 700;
}
table {
  border:1px solid #000;
  border-collapse: collapse;
  width:100%;
}
table th, table td {
  border: 2px solid #31485e;
  border-collapse: collapse;
  padding: 5px;
}
.product-page th {
  width: 30%;
  font-weight: 600;
}
td {
  text-transform:capitalize;
}
/* item */
.item-box {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 15px;
  border-radius: 8px;
}
.img-box {
  width: 100%;
  height: 310px;
}
.img-box img {
  object-fit: contain;
  width:100%;
  padding-bottom:10px;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-box h5 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  min-height: 48px;
  font-family: 'Libre Baskerville', serif;
} 
.item-box p {
  font-size: 15px;
  margin: 5px 0;
  line-height: 1.4;
}
.item-box h6 {
  font-size: 16px;
  font-weight: 600;
  margin: 5px 0;
}

/* ---header--- */
.headerbar {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin: 0 auto;
  align-items: center;
  padding: 15px 0;
}

.headerbar h2 {
  font-size: 24px;
  font-weight: 700;
}

.menu a {
  color: #31485e;
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  text-transform: capitalize;
}


.banner-box {
  position: relative;
}

.banner-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
/* ---filterbar---- */
.filerbar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-leangth h4 {
  text-align: end;
  padding: 15px 0;
  font-size: 18px;
  font-family: 'Libre Baskerville', serif;  
  font-weight: 900;
}



/* ----product-details------ */
.product-page .right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  line-height: 1.3;
  padding: 0 50px;
}
.product-page .right h4 {
  font-size: 24px;
  font-weight:bold;
}
.product-page .left {
  height: 550px;
  border: 1px solid #000;
  padding: 10px;
}
.product-page .left div {
  height:100%;
  text-align: center;
}
.product-page .left img {
  height: 100%;
  width: 60%;
  object-fit: contain;
}
.product-page .count {
  display: flex;
  gap: 5px;
}
.product-page h2 {
  font-size: 22px;
    font-weight: 600
}

/* ----testi---- */
.testi {
  background: #000;
  color: #fff;
}
.testi .title {
  text-align: center;
}
.testi .list {
  display: flex;
  justify-content: space-between;
}
.testi .sublist {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.testi h5 {
  font-size: 22px;
  font-weight: 700;
}
.testi p {
  font-size: 18px;
}
.testi svg {
  text-align: center;
  font-size: 80px;
  margin: 0 auto;
}

/* ----user---- */
.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
.profile {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
.profile img {
  width:100%;
  height:100%;
  border-radius: 50%;
  object-fit: cover;
}
.user-details h2 {
  font-size: 34px;
  font-weight: 700;
  font-family: 'Libre Baskerville', serif;
}
.admin-data-list {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 50px 0;
}
.admin-data-list .sub-data {
  border: 1px solid #000;
  width: 100%;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 250px;
  justify-content: center;
}
.admin-data-list .sub-data p {
  font-size: 22px;
  font-weight: 700;
}
.admin-data-list .sub-data h4 {
  font-size: 24px;
  font-weight: 700;
  font-family: 'Libre Baskerville', serif;
}
.usersave {
  gap:20px;
}
.set-user-details {
  width: calc(33.33% - 14px);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding: 15px;
  border: 1px solid #000;
  font-size: 16px;
  font-weight: 700;
}
.set-user-details img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.set-user-details h2 {
  font-size:22px;
  font-family: 'Libre Baskerville', serif;
  text-transform: capitalize;
}
.links {
  display: flex;
  justify-content: space-around;
  gap:20px;
}
.links button {
  background: transparent;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  border-bottom: 2px solid #000;
  border-radius: 0;
  font-family: 'Libre Baskerville', serif;
}
.links button.active {
  border-bottom: 2px solid #cdd1ed
}
.product .number {
  width: 8%;
}
.photos img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.product .photos {
  width: 25%;
}
.product .price {
  width: 12%;
}
.product .cates {
  width: 12%;
}
.product .distock {
  width: 6%;
}
.product thead th {
  font-size: 18px;
  padding: 20px 5px;
  font-family: 'Libre Baskerville', serif;
}

/* ---about----- */
.about {
  border: 1px solid #eee;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 25px;
}
.about img {
  width: 100%;
}
.about-content p {
  font-size:18px;
  line-height: 1.6;
  text-transform: capitalize;
}
.about-content button {
  border: 1px solid #eee;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background: transparent;
  color: #000;
  margin-top: 20px;
}
.about-home {
  align-items:center;
}
.about-details .about {
  margin-bottom:50px;
}
.about-details p {
  font-size: 18px;
  line-height: 1.6;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.about-details h3 {
  font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'Libre Baskerville', serif;
}
.img-deta-about {
  margin:25px 0 35px;
  width:100%;
}

/* ---cart-page-- */
.cart-page .count {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.w-5 {
  width:5%;
}
.w-25 {
  width:25%;
}
.w-15 {
  width:15%;
}
.w-40 {
  width:40%;
}
.w-20 {
  width:20%;
}
/* ---order-page---- */
.order-page img {
  width: 120px;
}
.order-list .cates,
.order-list .dis,
.order-list .stock {
  display:none;
}
.order-list .price {
  font-size: 18px;
  margin-top: 15px;
  text-align: center;
}
.order-list .title-sub {
  text-align: center;
}
.order-list h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}
/* --- */
.breadcump ul {
  display: flex;
  gap: 30px;
  margin: 15px 0;
  justify-content: center;
}

.breadcump li {
  font-family: 'Libre Baskerville', serif;
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
  position: relative;
  border: 1px solid #31485e;
  padding: 10px 20px;
  border-radius: 2px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px;
}
.brd-active {
 background:#31485e;
 color:#fff;
}
.brd-active::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #31485e;
  position: absolute;
  bottom: -5px;
  left: 47%;
  transform: rotate(45deg);
}
/* --- */
.green:focus {
  box-shadow:none !important;
  border:2px solid green;
}
.red:focus {
  box-shadow:none !important;
  border:2px solid red;
}

/* --- */
.payment-info .card {
  border: none;
  max-width: 450px;
  border-radius: 4px;
  padding: 25px;
  padding-bottom: 20px!important;
}
.payment-info .heading{
	color: #C1C1C1;
	font-size: 14px;
	font-weight: 500;
}
.payment-info .text-warning {
  font-size: 16px;
  font-weight: 700;
  color:#fff !important;
}
.payment-info input {
  border: 0;
  margin: 10px 0 0;
}

.payment-info .form-group input:focus{
	border: 0;
	outline: 0;
}
.payment-info .col-sm-5{
	padding-left: 90px;
}
.payment-info .btn {
  background: #fff;
  border: none;
  border-radius: 2px;
  color: #31485e;
  text-transform: uppercase;
  font-size: 16px;
  padding: 8px 20px;
  margin: 20px 0 0;
  width: 100%;
}
.payment-info .btn:focus{
    box-shadow: none;
}

/* --- */
.wrapper {
  max-width: 460px;
  box-shadow: 3px 3px 5px #1b1b1ba2;

}

.card {
  background-color: #31485e;
}

p {
  margin: 0px;
}

.h8 {
  font-size: 25px;
  font-weight: 600;
  color: white;
}

.card .atm {
  width: 90px;
  height: 90px;
  object-fit: cover;
}

.card .visa {
  width: 50px;
  height: 20px;
  object-fit: fill;
}

.card .master {
  width: 50px;
  height: 50px;
  object-fit: fill;
}

.debit-card {
  width: 100%;
  height: 180px;
  padding: 20px;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  position: relative;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #0000001a;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.debit-card:hover {
  box-shadow: 5px 3px 5px #000000a2;
}

.card-2 {
  background-color: #21D4FD;
  background-image: linear-gradient(116deg, #21D4FD 0%, #B721FF 100%);
}

.text-muted {
  font-size: 0.8rem;
}

.debit-card p {
  font-size: 20px;
  margin: 20px 0 0 !important;
}
.security p {
  margin: 0 !important;
  font-size: 18px;
  color: #fff;
}
.pay-bot .btn {
  margin: 20px 0 0 !important;
  font-weight: 700;
}

.input {
  position: absolute;
  top: 6px;
  right: 0;
}

input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #eee;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

input[type="radio"]:after {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f00c";
  color: #fff;
  font-size: 15px;
  display: none;
}

input[type="radio"]:checked,
input[type="radio"]:checked:hover {
  background-color: blue;
}

input[type="radio"]:checked::after {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="radio"]:hover {
  background-color: #ddd;
}
  .payment-info .red {
    color: red;
    margin: 5px 0 0;
    display: block;
} 
/* --- */
.user-box {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.user-box img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}
.searchscreen {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  background: linear-gradient(to top, transparent 0%, white 100%);
}
/* --- */
.authscreen {
  background: #31485e;
  height: 100vh;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}
.authscreen form {
  max-width: 450px;
  padding: 25px;
  background: #fff;
  margin: 0 auto;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.authscreen .form-label {
  margin-bottom: 10px;
  font-family: 'Libre Baskerville', serif;
  color: #31485e;
}
.authscreen h1 {
  font-size: 32px;
  margin: 40px 0;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  color: #31485e;
}
.authscreen p {
  text-align: center;
  font-weight: 600;
  display: flex;
  justify-content: center;
  gap: 5px;
  color: #31485e;
}
.authscreen p span:hover {
  cursor:pointer;
}
.authscreen .btnn {
  width: 100%;
  margin-top: 16px;
  background: #31485e;
  border: 1px solid  #31485e;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  padding: 18px;
  transition:all 0.5s ease-in;
}
.authscreen .btnn:hover {
  color:#31485e;
  background:transparent;
  transition:all 0.5s ease-in;
}
.logo-set {
  width: 180px;
  margin: 0 auto;
}
.logo-set img {
  width:100%;
}
/* --- */
.logo-home img {
  width:80px;
}
.user .fas {
  font-size: 22px;
}
.cartbtn {
  position:relative;
}
.cartbtn span {
  position: absolute;
    background: #000;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -15px;
    right: -15px;
    font-size: 16px;
}
.header-menu {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.spacing-top {
  margin-top: 93px;
}
.cart-page .cart-list {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px;
  padding: 25px;
  border-radius: 8px;
  min-height:525px;
}
.cart-page .row table {
  margin: 20px 0;
}
.cart-page .fa-trash{
  color: #31485e;
  font-size: 18px;
}
.cart-page .btn-rightt {
  text-align: end;
}
.cart-page .cart-emt {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  text-transform: capitalize;
  font-family: 'Libre Baskerville', serif;
}
.cart-page .btn-alignn {
  text-align: center;
  margin: 20px 0 0;
}
.summery {
  padding: 25px 20px;
  border-radius: 2px;
  border: 1px solid #31485e;
}
.summery h1 {
  font-size: 24px;
  text-align-last: center;
  font-weight: 700;
}
.summery h2 {
  margin: 15px 0;
  font-size: 18px;
}
.sum-box {
  border-top: 1px solid #eee;
  margin: 25px 0;
  border-bottom: 1px solid #eee;
}
.ships-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.pay-shipping {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px;
  padding: 25px;
  border: 2px solid #31485e;
}
.pay-shipping h1 {
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 700;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}
.pay-shipping h3 {
  font-size: 16px;
  margin: 15px 0;
  text-transform: capitalize;
}
.shipping-form span {
  color: red;
  text-transform: capitalize;
}
.card-details .form-group {
  margin-bottom: 15px;
}
.payment-info{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px;
  padding: 25px;
  margin: 20px 0;
  border: 2px solid #31485e;
}
.payment-info h1 {
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 700;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 25px;
}
/* --- */
@-webkit-keyframes pulsate {
  0% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(1.75);
  }
  100% {
    transform: scale(0.75);
  }
}
@-moz-keyframes pulsate {
  0% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(1.75);
  }
  100% {
    transform: scale(0.75);
  }
}
@-o-keyframes pulsate {
  0% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(1.75);
  }
  100% {
    transform: scale(0.75);
  }
}
@keyframes pulsate {
  0% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(1.75);
  }
  100% {
    transform: scale(0.75);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.payment-loader-container .payment-loader {
  width: 125px;
  height: 125px;
  margin: 0 auto;
}
.payment-loader-container .payment-loader .payment-circle {
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border:5px solid #31485e
}
.payment-loader-container .payment-loader .payment-circle .payment-inner-circle {
  position: relative;
  left: -12.5%;
  top: 35%;
  width: 125%;
  height: 25%;
  background-color: white;
  -webkit-animation: rotate 2s infinite linear;
  animation: rotate 2s infinite linear;
}
.payment-loader-container .payment-loader .payment-circle h1 {
  position: relative;
  color: darkgray;
  top: 0.75em;
  font-family: "Raleway";
  -webkit-animation: pulsate 1.25s infinite ease;
  animation: pulsate 1.25s infinite ease;
  border-bottom:0;
  color:#31485e;
}
.sucess-pop h4 {
  text-align: center;
}
.success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;
}
.success-checkmark .check-icon {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  border: 4px solid #31485e;
}
.success-checkmark .check-icon::before {
  top: 3px;
  left: -2px;
  width: 30px;
  transform-origin: 100% 50%;
  border-radius: 100px 0 0 100px;
}
.success-checkmark .check-icon::after {
  top: 0;
  left: 30px;
  width: 60px;
  transform-origin: 0 50%;
  border-radius: 0 100px 100px 0;
  animation: rotate-circle 4.25s ease-in;
}
.success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
  content: "";
  height: 100px;
  position: absolute;
  background: #ffffff;
  transform: rotate(-45deg);
}
.success-checkmark .check-icon .icon-line {
  height: 5px;
  background-color: #31485e;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
}
.success-checkmark .check-icon .icon-line.line-tip {
  top: 46px;
  left: 14px;
  width: 25px;
  transform: rotate(45deg);
  animation: icon-line-tip 0.75s;
}
.success-checkmark .check-icon .icon-line.line-long {
  top: 38px;
  right: 8px;
  width: 47px;
  transform: rotate(-45deg);
  animation: icon-line-long 0.75s;
}
.success-checkmark .check-icon .icon-circle {
  top: -4px;
  left: -4px;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  border: 4px solid rgb(49 72 94);
}
.success-checkmark .check-icon .icon-fix {
  top: 8px;
  width: 5px;
  left: 26px;
  z-index: 1;
  height: 85px;
  position: absolute;
  transform: rotate(-45deg);
  background-color: #ffffff;
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}
@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

.paymentdone {
  opacity:0.3;
}
.sucess-pop h1 {
  text-align: center;
}
.searchpage {
  margin: 30px auto;
  position: relative;
}
.searchscreen input {
  border: 0;
  border-bottom: 2px solid #000;
  border-radius: 0;
  padding-left: 0;
  background: transparent;
}
.searchscreen a {
  font-size: 17px;
  margin: 12px 0;
  display: block;
  line-height:1.2;
}
.searchscreen a:hover {
  color:#31485e;
}
:focus-visible {
 outline:0;
}
.searchscreen h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}
.searchscreen span {
  position: absolute;
  top: 0;
  background: #000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  right: 0;
  justify-content: center;
  align-items: center;
  color: #fff;
}
/* --- */
.userprofile {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px;
  padding: 25px;
}
.userprofile h1 {
  font-size: 24px;
  margin: 15px 0;
  text-align: center;
  font-weight: 700;
}
.userprofile h3 {
  font-size: 16px;
  margin-bottom: 12px;
}
.userprofile .log {
  text-align: center;
}
.order-page h1 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

/* --- */
.chat-page {
  height: calc(100vh - 200px);
  margin: 150px auto 50px;
  position: relative;
  padding: 15px;
}
.chat-page h1 {
  text-align:center;
}
.chat-page h1::after {
  display:none;
}
.chat-page form {
  display: flex;
  gap: 10px;
  position: absolute;
  width: calc(100% - 30px);
  left: 0;
  margin: 15px;
}
.rightset {
  text-align: right;
}
.chatlist {
  overflow-y: scroll;
  height: calc(100vh -  370px);
}
.chatlist::-webkit-scrollbar {
  display: none;
}
.chat-page .col-9 {
  position: relative;
}
.leftuser li {
  background: #000;
  padding: 10px;
  margin: 10px 0;
  color: #fff;
  border-radius: 5px;
}