html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: middle;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Lato', sans-serif;
  /* font-family: 'Libre Baskerville', serif; */
}
a {
  text-decoration: none;
  color: #000;
}
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,td {
  text-align:center;
  padding: 10px 5px;
    font-size: 16px;
    text-transform: capitalize;
}

.non-active {
  opacity: 0.9;
  pointer-events: none;
}

.active {
  opacity: 1;
  pointer-events: visible;
}

ul.menu {
  display: flex;
  gap: 30px;
}

.user {
  display: flex;
  align-items: center;
  gap: 15px;
}

.product img {
  width: 100%;
}

.banner-box img {
  width: 100%;
  height: 768px;
  object-fit: cover;
}

.container-fluid {
  max-width: 90%;
  margin: 0 auto;
}

.product .card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product img {
  width: 100px;
}
.title {
  font-size: 34px;
  font-weight: 700;
  position: relative;
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 50px;
  text-transform: capitalize;
}
.title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 50px;
  height: 2px;
  background: #000;
}
/* ----common css----- */
.padding-80 {
  padding:80px 15px;
}
button {
  background: #000;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}
select, input, textarea{
  width: 100%;
  border: 2px solid #000;
  border-radius: 4px;
  padding: 10px;
  font-size: 18px;
}
input::placeholder {
  color: #000;
}
.form-label {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 700;
}
table {
  border:1px solid #000;
  border-collapse: collapse;
  width:100%;
}
table th,
table td {
  border:1px solid #000;
  border-collapse: collapse;
  padding:5px;
}
.product-page th {
  width: 30%;
  font-weight: 600;
}
td {
  text-transform:capitalize;
}
/* item */
.item-box {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 15px;
  border-radius: 8px;
}
.img-box {
  width: 100%;
  height: 310px;
}
.img-box img {
  object-fit: contain;
  width:100%;
  padding-bottom:10px;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-box h5 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  min-height: 48px;
  font-family: 'Libre Baskerville', serif;
} 
.item-box p {
  font-size: 15px;
  margin: 5px 0;
  line-height: 1.4;
}
.item-box h6 {
  font-size: 16px;
  font-weight: 600;
  margin: 5px 0;
}

/* ---header--- */
.headerbar {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin: 0 auto;
  align-items: center;
  padding: 15px 0;
}

.headerbar h2 {
  font-size: 24px;
  font-weight: 700;
}

.menu a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  text-transform: capitalize;
}


.banner-box {
  position: relative;
}

.banner-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
/* ---filterbar---- */
.filerbar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-leangth h4 {
  text-align: end;
  padding: 15px 0;
  font-size: 18px;
  font-family: 'Libre Baskerville', serif;  
  font-weight: 900;
}



/* ----product-details------ */
.product-page .right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  line-height: 1.3;
  padding: 0 50px;
}
.product-page .right h4 {
  font-size: 24px;
  font-weight:bold;
}
.product-page .left {
  height: 550px;
  border: 1px solid #000;
  padding: 10px;
}
.product-page .left div {
  height:100%;
  text-align: center;
}
.product-page .left img {
  height: 100%;
  width: 60%;
  object-fit: contain;
}
.product-page .count {
  display: flex;
  gap: 5px;
}
.product-page h2 {
  font-size: 22px;
    font-weight: 600
}

/* ----testi---- */
.testi {
  background: #000;
  color: #fff;
}
.testi .title {
  text-align: center;
}
.testi .list {
  display: flex;
  justify-content: space-between;
}
.testi .sublist {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.testi h5 {
  font-size: 22px;
  font-weight: 700;
}
.testi p {
  font-size: 18px;
}
.testi svg {
  text-align: center;
  font-size: 80px;
  margin: 0 auto;
}

/* ----user---- */
.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
.profile {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
.profile img {
  width:100%;
  height:100%;
  border-radius: 50%;
  object-fit: cover;
}
.user-details h2 {
  font-size: 34px;
  font-weight: 700;
  font-family: 'Libre Baskerville', serif;
}
.admin-data-list {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 50px 0;
}
.admin-data-list .sub-data {
  border: 1px solid #000;
  width: 100%;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 250px;
  justify-content: center;
}
.admin-data-list .sub-data p {
  font-size: 22px;
  font-weight: 700;
}
.admin-data-list .sub-data h4 {
  font-size: 24px;
  font-weight: 700;
  font-family: 'Libre Baskerville', serif;
}
.usersave {
  gap:20px;
}
.set-user-details {
  width: calc(33.33% - 14px);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding: 15px;
  border: 1px solid #000;
  font-size: 16px;
  font-weight: 700;
}
.set-user-details img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.set-user-details h2 {
  font-size:22px;
  font-family: 'Libre Baskerville', serif;
  text-transform: capitalize;
}
.links {
  display: flex;
  justify-content: space-around;
  gap:20px;
}
.links button {
  background: transparent;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  border-bottom: 2px solid #000;
  border-radius: 0;
  font-family: 'Libre Baskerville', serif;
}
.links button.active {
  border-bottom: 2px solid #cdd1ed
}
.product .number {
  width: 8%;
}
.photos img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.product .photos {
  width: 25%;
}
.product .price {
  width: 12%;
}
.product .cates {
  width: 12%;
}
.product .distock {
  width: 6%;
}
.product thead th {
  font-size: 18px;
  padding: 20px 5px;
  font-family: 'Libre Baskerville', serif;
}

/* ---about----- */
.about {
  border: 1px solid #eee;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 25px;
}
.about img {
  width: 100%;
}
.about-content p {
  font-size:18px;
  line-height: 1.6;
  text-transform: capitalize;
}
.about-content button {
  border: 1px solid #eee;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background: transparent;
  color: #000;
  margin-top: 20px;
}
.about-home {
  align-items:center;
}
.about-details .about {
  margin-bottom:50px;
}
.about-details p {
  font-size: 18px;
  line-height: 1.6;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.about-details h3 {
  font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'Libre Baskerville', serif;
}
.img-deta-about {
  margin:25px 0 35px;
  width:100%;
}

/* ---cart-page-- */
.cart-page .count {
  display:flex;
  gap:5px;
  justify-content:center;
}
.w-5 {
  width:5%;
}
.w-25 {
  width:25%;
}
.w-15 {
  width:15%;
}
.w-40 {
  width:40%;
}
.w-20 {
  width:20%;
}
/* ---order-page---- */
.order-page img {
  width: 120px;
}
.order-list .cates,
.order-list .dis,
.order-list .stock {
  display:none;
}
.order-list .price {
  font-size: 18px;
  margin-top: 15px;
  text-align: center;
}
.order-list .title-sub {
  text-align: center;
}
.order-list h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}